{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>钢板报告</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static 'layui-v2.9.20/layui/css/layui.css' %}>
    <link rel="stylesheet" href={% static 'my.css' %}>

</head>
<body>

{% block content %}
    <a href="{% url 'download_base_excel' %}" class="layui-btn">下载模板list</a>
    <a href="{% url 'download_docx_files' %}" class="layui-btn">下载模板docx</a>
    <br><br>
    <form class="layui-form" action="{% url 'get_form_data' %}" method="post">
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;padding-left: 0;">项目名称</label>
            <div class="layui-input-inline" style="width: 180px;">
                <input type="text" name="project_name" lay-verify="required" value="/" class="layui-input">
            </div>
            <label class="layui-form-label" style="width:60px;">委托单位</label>
            <div class="layui-input-inline" style="width: 180px;">
                <input type="text" name="entrust_name" lay-verify="required" class="layui-input" value="/">
            </div>
            <label class="layui-form-label" style="width:60px;">样品名称</label>
            <div class="layui-input-inline">
                <select name="sample_name" lay-verify="required" lay-search>
                    <option value="钢板原材" selected>钢板原材</option>
                    <option value="直缝钢管">直缝钢管</option>
                </select>
            </div>
            <label class="layui-form-label" style="width:60px;">生产厂家</label>
            <div class="layui-input-inline" style="width: 180px;">
                <input type="text" name="manufacturer" class="layui-input" lay-verify="required" value="/">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 60px;padding-left: 0;">要求附加</label>
                <div class="layui-inline">
                    <input type="checkbox" name="jl_open" lay-filter="checkboxFilter" title="监理单位"
                           checked>
                </div>
                <div class="layui-inline">
                    <input type="checkbox" name="qy_open" lay-filter="checkboxFilter" title="见证单位"
                           checked>
                </div>
                <div class="layui-inline">
                    <input type="checkbox" name="jz_r_open" lay-filter="checkboxFilter" title="见证人"
                           checked>
                </div>
                <div class="layui-inline">
                    <input type="checkbox" name="qy_open" lay-filter="checkboxFilter" title="取样单位">
                </div>
                <div class="layui-inline">
                    <input type="checkbox" name="qy_r_open" lay-filter="checkboxFilter" title="取样人">
                </div>
            </div>

        </div>
        <div class="layui-form-item"  id="jl">
            <div class="layui-inline">
                <label class="layui-form-label" name="jl_company" style="width: 60px;padding-left: 0;">监理单位</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="jl_text">
                </div>
                <label class="layui-form-label" name="jl_r" style="width: 50px">见证人</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="jl_r_text">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;padding-left: 0;">报告数量</label>
            <div class="layui-input-inline">
                <input type="number" lay-affix="number" id="rowCountInput" name="number_of_report" placeholder=""
                       autocomplete="off" class="layui-input" min="1" step="1" lay-filter="rowCountInput"
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;padding-left: 0;">控制编号</label>
            <div class="layui-input-inline">
                <input type="text" name="first_no" placeholder="填写首份报告的控制编号" class="layui-input"
                       lay-verify="required">
            </div>
            <label class="layui-form-label">报告日期</label>
            <div class="layui-input-inline layui-input-wrap" style="width: 150px;">
                <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-date"></i>
                </div>
                <input type="text" name="report_date" id="date" lay-verify="date" placeholder="yyyy-MM-dd"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
            <label class="layui-form-label">受样日期</label>
            <div class="layui-input-inline layui-input-wrap">
                <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-date"></i>
                </div>
                <input type="text" name="come_date" id="date" lay-verify="date" placeholder="yyyy-MM-dd"
                       autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;padding-left: 0;">原编号项</label>
            <div class="layui-input-block">
                <input type="checkbox" name="raw_no_type" lay-filter="lh" value="炉号" title="炉号" checked>
                <input type="checkbox" name="raw_no_type" lay-filter="ph" value="批号" title="批号">
                <input type="checkbox" name="raw_no_type" lay-filter="gbh" value="钢板号" title="钢板号">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;padding-left: 0;">检测元素</label>
            <div class="layui-input-block">
                <input type="checkbox" name="chemical" value="CSiMnPS" title="C、Si、Mn、P、S" checked>
                <input type="checkbox" name="chemical" value="NbVTIAl" title="Nb、V、Ti、Al">
                <input type="checkbox" name="chemical" value="Cr" title="Cr">
                <input type="checkbox" name="chemical" value="Ni" title="Ni">
                <input type="checkbox" name="chemical" value="CuMo" title="Cu">
                <input type="checkbox" name="chemical" value="Mo" title="Mo">
                <input type="checkbox" name="chemical" value="N" title="N">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 60px;padding-left: 0;">Z 向性能</label>
            <div class="layui-inline">
                <input type="checkbox" name="zopen" lay-skin="switch" lay-filter="switchTest" title="有|无">
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline" id="z_status" style="display:none;height: 30px;">
                    <select name="z_status" lay-search>
                        <option value="Z35" selected>Z35</option>
                        <option value="Z25">Z25</option>
                        <option value="Z15">Z15</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <table class="layui-table" id="first_table">
                <thead>
                <tr>
                    <th style="text-align: center">炉号</th>
                    <th style="text-align: center;display:none;">批号</th>
                    <th style="text-align: center;display:none;">钢板号</th>
                    <th style="text-align: center">验收标准</th>
                    <th style="text-align: center">材质</th>
                    <th style="text-align: center">规格δ</th>
                    <th style="text-align: center">样品状态</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script src={% static 'jquery-3.7.1.min.js' %}></script>
    <script src={% static 'layui-v2.9.20/layui/layui.js' %}></script>
    <script>
        layui.use(['form', 'laydate', 'util'], function () {
            var form = layui.form;
            var layer = layui.layer;
            var laydate = layui.laydate;
            // 验证规则

            // checkbox 炉批号钢板号  选择
            form.on('checkbox(lh)', form_row_set);
            form.on('checkbox(ph)', form_row_set);
            form.on('checkbox(gbh)', form_row_set);
            // Z 向性能开关
            form.on('switch(switchTest)', function (data) {
                if (data.elem.checked) {
                    $('#z_status').show();
                } else {
                    $('#z_status').hide();
                }
            });
            form.on('checkbox(checkboxFilter)', function (data) {
                if (data.elem.checked) {
                    $('#jl').show();
                } else {
                    $('#jl').hide();
                }
            });
            // 日期
            laydate.render({
                elem: '#date'
            });
            form.render();
            // 提交事件
            form.on('submit(formDemo)', function (data) {
                var field = data.field; // 获取表单字段值
                var key = Object.keys(field);
                delete field[key[0]]; // 删除第一个元素
                var str_res = ""; // 转换为 JSON 字符串
                for (var i in field)
                    str_res += i + ":" + field[i] + "<br>";
                layer.alert(str_res, {
                    title: '当前填写的字段值'
                }, function () {
                });
                return true; // 默认 form 跳转
            });

            // 增减行操作
            form.on('input-affix(rowCountInput)', form_row_set);

            // 根据 checkbox 状态及行数 重绘表格
            function form_row_set() {
                var rowCount = document.getElementById('rowCountInput').value;
                var tableBody = document.getElementById('tableBody');
                tableBody.innerHTML = '';
                for (var i = 0; i < rowCount; i++) {
                    var row = document.createElement('tr');
                    const cells = [];
                    var firstTable = document.getElementById('first_table');
                    // 炉号
                    var input4Cell = document.createElement('td');
                    var input4 = document.createElement('input');
                    var checkbox = document.getElementsByName('raw_no_type')[0];
                    if (checkbox.checked) {
                        input4.style.display = "";
                        input4.setAttribute("name", "lh")
                        input4.classList.add('layui-input');
                        input4.setAttribute('type', 'text');
                        input4Cell.appendChild(input4);
                        cells.push(input4Cell);
                        firstTable.rows[0].cells[0].style.display = "";
                    } else {
                        firstTable.rows[0].cells[0].style.display = "none";
                    }
                    // 批号
                    var input5Cell = document.createElement('td');
                    var input5 = document.createElement('input');
                    var checkbox = document.getElementsByName('raw_no_type')[1];
                    if (checkbox.checked) {
                        input5.style.display = "";
                        input5.setAttribute("name", "ph")
                        input5.classList.add('layui-input');
                        input5.setAttribute('type', 'text');
                        input5Cell.appendChild(input5);
                        cells.push(input5Cell);
                        firstTable.rows[0].cells[1].style.display = "";
                    } else {
                        firstTable.rows[0].cells[1].style.display = "none";
                    }
                    // 钢板号
                    var input6Cell = document.createElement('td');
                    var input6 = document.createElement('input');
                    var checkbox = document.getElementsByName('raw_no_type')[2];
                    if (checkbox.checked) {
                        input6.style.display = "";
                        input6.setAttribute("name", "gbh");
                        input6.classList.add('layui-input');
                        input6.setAttribute('type', 'text');
                        input6Cell.appendChild(input6);
                        cells.push(input6Cell);
                        firstTable.rows[0].cells[2].style.display = "";
                    } else {
                        firstTable.rows[0].cells[2].style.display = "none";
                    }
                    // 验收标准
                    const select1Cell = document.createElement('td');
                    const select1 = document.createElement('select');
                    select1.classList.add('layui-select');
                    select1.innerHTML = `
                        <option value="GB/T 714-2015" name="standard" selected>GB/T 714-2015</option>
                        <option value="GB/T 1591-2018">GB/T 1591-2018</option>
                        <option value="GB/T 700-2006">GB/T 700-2006</option>
                        <option value="GB/T 700-2006">GB/T 700-2006</option>
                        <option value="GB/T 712-2011">GB/T 712-2011</option>
                        <option value="TB/T 3556-2020">TB/T 3556-2020</option>
                    `;
                    select1Cell.appendChild(select1);
                    cells.push(select1Cell);

                    // 材质
                    var input1Cell = document.createElement('td');
                    var input1 = document.createElement('input');
                    input1.classList.add('layui-input');
                    input1.setAttribute('type', 'text');
                    input1.setAttribute('name', 'material');
                    input1.addEventListener('change', function () {
                        var validValues = ["Q345qC", "Q345qD", "Q345qE", "Q355qC", "Q355qD", "Q355qE", "Q370qC", "Q370qD", "Q370qE", "Q355qE",
                            "Q420qC", "Q420qD", "Q420qE", "Q355NC", "Q355ND", "Q355NE"];
                        if (!validValues.includes(this.value)) {
                            alert("请输入正确的材质,注意大小写" + this.value);
                            this.value = "";
                        }
                    });
                    input1Cell.appendChild(input1);
                    cells.push(input1Cell);
                    // 板厚
                    var input2Cell = document.createElement('td');
                    var input2 = document.createElement('input');
                    input2.setAttribute("name", "thickness ")
                    input2.classList.add('layui-input');
                    input2.setAttribute('type', 'text');
                    input2.setAttribute('placeholder', '如：δ=20mm');
                    input2Cell.appendChild(input2);
                    cells.push(input2Cell);
                    // 样品状态
                    var select2Cell = document.createElement('td');
                    var select2 = document.createElement('select');
                    select2.classList.add('layui-select');
                    select2.setAttribute('name', "status");
                    const options = [
                        {value: 'TMCP', text: 'TMCP(热机械轧制)', selected: true},
                        {value: 'AR', text: 'AR(热轧)'},
                        {value: 'N', text: 'N(正火)'},
                        {value: 'NH', text: 'NH(耐腐蚀)'},
                        {value: 'T', text: 'T(回火)'},
                        {value: 'NR', text: 'NR(正火轧制)'},
                        {value: 'QT', text: 'QT(淬火加回火[调质])'},
                        {value: 'NT', text: 'NT(正火加回火)'},
                        {value: 'A', text: 'A(退火)'},
                        {value: 'CR', text: 'CR(冷轧)'}
                    ];
                    options.forEach(option => {
                        var optionElement = document.createElement('option');
                        optionElement.setAttribute('value', option.value);
                        optionElement.textContent = option.text;
                        if (option.selected) optionElement.setAttribute('selected', 'true');
                        select2.appendChild(optionElement);
                    });
                    select2Cell.appendChild(select2);
                    cells.push(select2Cell);
                    cells.forEach(cell => row.appendChild(cell));
                    tableBody.appendChild(row);
                }
                form.render('select');
            }

            $(document).ready(function () {
                // 初始化执行
            });
        });

    </script>

{% endblock %}
</body>
</html>



